<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Django Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>
<body>
    <p class="text_right"> ログイン、ログアウトメニュー</p>
    <h1>Django Blog</h1>
    <h2> 記事一覧 </h2>

    <div class="sampleBox">
        
        <p>記事内容（一部）</p>
    </div>
    <div class="sampleBox">

        <p>記事内容（一部）</p>
    </div>


    <div class="back">12 : 00「時間表示」</div>






</body>
</html>